/**
 * xslt_book custom css
 */

div.node ul.xslt-book-links {
  width:200px;
  float:right;
  margin:0px 0px 10px;
  }

  div.node ul.xslt-book-links span,
  div.node ul.xslt-book-links a {
    padding:5px;
    }

  div.node ul.xslt-book-links span.count {
    white-space: nowrap;
    width:50%; margin:0px auto;
    text-align:center;
    display:block;
    }

  div.node ul.xslt-book-links a.prev,
  div.node ul.xslt-book-links a.next {
    padding:5px;
    text-transform:uppercase; letter-spacing:1px;
    }
    
    div.node ul.xslt-book-links a.prev {
      border-right:1px solid #ddd;
      float:left;
      }
    
    div.node ul.xslt-book-links a.next {
      border-left:1px solid #ddd;
      float:right;
      }

  body.rtl ul.xslt-book-links {
    float:left;
    }

  body.rtl div.node ul.xslt-book-links a.prev {
    border-right:0px;
    border-left:1px solid #ddd;
    float:right;
    }

  body.rtl div.node ul.xslt-book-links a.next {
    border-left:0px;
    border-right:1px solid #ddd;
    float:left;
    }

div.toc {
  margin:.75em 0em;
  }

  div.toc-1 {
    font-size:1.25em;
    font-weight:bold;
    }
  
  div.toc-2 {
    margin-left:1em;
    }
  
  div.toc-3 {
    margin-left:2em;
    }
  
  div.toc-4 {
    margin-left:3em;
    }

